main {
  display: flex;
  justify-content: center; 
  gap: 20px;
  align-items: center;
  padding: 50px;
  font-family: "Roboto", sans-serif;
  flex-wrap: wrap; 
  max-width: 900px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

.sub-button {
  display: flex;
  justify-content: center;
  margin-bottom: 4vh;
  margin-top: 7vh;
}

.subscribe {
position: relative;
 height: 60px;
 padding: 0 50px;
 border: 2px solid #238e12;
 background: #fcf9f9;
 user-select: none;
 white-space: nowrap;
 transition: all .05s linear;
 font-family: "Roboto", sans-serif;
}

.subscribe:before, .subscribe:after {
  content: "";
  position: absolute;
  background: #fcf9f9;
  transition: all .2s linear;
 }

 .subscribe:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
 }
 
 .subscribe:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
 }
 
 .subscribe:hover {
  cursor: pointer;
 }
 
 .subscribe:active {
  transform: scale(0.95);
 }
 
 .subscribe:hover:before {
  height: calc(100% - 32px);
  top: 16px;
 }
 
 .subscribe:hover:after {
  width: calc(100% - 32px);
  left: 16px;
 }
 
 .subscribe span {
  font-size: 20px;
  z-index: 1;
  position: relative;
  font-weight: 600;
 }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px 0;
  font-size: 18px;
  margin-top: 3vh;
  justify-content: center;
  display: flex;
}

li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.3s;
}

.im:hover {
  color: white;
  background-color: #8e33ae;
  border: 2px solid #8e33ae;
}

.cta:hover {
  color: white;
  background-color: #1b8634;
  border: 2px solid #1b8634;
}

.ctb:hover {
  color: white;
  background-color: #e7810c;
  border: 2px solid #e7810c;
}

.eletro:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.info:hover {
  color: white;
  background-color: #000000;
  border: 2px solid #000000;
}

.eletronica:hover {
  color: white;
  background-color: #3954ef;
  border: 2px solid #3954ef;
}

.mec:hover {
  color: white;
  background-color: #d81919;
  border: 2px solid #d81919;
}

.edif:hover {
  color: white;
  background-color: #e2f108;
  border: 2px solid #e2f108;
}

@media (min-width: 350px) and (max-width: 480px) {
  main {
    justify-content: space-around; 
  }
  
  main {
    display: flex; 
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto; 
  }
}